<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#">Home</a></li>
   <li><a href="#">Records</a></li>
   <li><a href="#">Artists</a></li>
   <li><a href="#">Playlists</a></li>
</ul>